openapi: 3.1.0
info:
  title: Campaign Optimizer API
  description: Autonomous campaign optimization platform for planning, executing,
    and optimizing marketing campaigns. Features multi-agent AI for strategy, research,
    creative, bidding, audience targeting, and governance.
  version: 1.0.0
  contact:
    name: GRC Claw API Support
    email: api@grc-claw.com
    url: https://grc-claw.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://grc-claw.com/terms
  externalDocs:
    description: Find more info here
    url: https://docs.grc-claw.com
servers:
- url: https://api.grc-claw.com/v1
  description: Production server
- url: https://staging-api.grc-claw.com/v1
  description: Staging server
- url: http://localhost:8000/v1
  description: Local development server
tags:
- name: Health
  description: Health check and monitoring endpoints
- name: Auth
  description: Authentication and authorization endpoints
- name: Campaigns
  description: Manage marketing campaigns
- name: Strategies
  description: Campaign strategy management
- name: Budgets
  description: Budget allocation and pacing
- name: Audiences
  description: Audience segmentation and targeting
- name: Creatives
  description: Creative asset management
- name: Bidding
  description: Bid optimization and management
- name: Ab Tests
  description: A/B test management
- name: Performance
  description: Campaign performance metrics
paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns the health status of the API and its dependencies.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              example:
                status: healthy
                timestamp: '2024-01-15T10:30:00Z'
                version: 1.0.0
                uptime: 72h 15m 30s
                services:
                  database:
                    status: up
                    latency_ms: 12.5
                  cache:
                    status: up
                    latency_ms: 3.2
                  queue:
                    status: up
                    latency_ms: 8.1
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: SERVICE_UNHEALTHY
                  message: One or more services are unhealthy
                  details:
                    database: down
                  request_id: 550e8400-e29b-41d4-a716-446655440000
  /auth/token:
    post:
      operationId: getToken
      summary: Get access token
      description: Obtain a JWT access token using client credentials or refresh token.
      tags:
      - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                  - refresh_token
                  - password
                  description: OAuth2 grant type
                client_id:
                  type: string
                  description: Client identifier
                client_secret:
                  type: string
                  format: password
                  description: Client secret
                refresh_token:
                  type: string
                  description: Refresh token for token renewal
                username:
                  type: string
                  description: Username for password grant
                password:
                  type: string
                  format: password
                  description: Password for password grant
                scope:
                  type: string
                  description: Requested scopes (space-separated)
            example:
              grant_type: client_credentials
              client_id: my-client-id
              client_secret: my-client-secret
              scope: read write
      responses:
        '200':
          description: Token obtained successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - access_token
                - token_type
                - expires_in
                properties:
                  access_token:
                    type: string
                    description: JWT access token
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token expiration time in seconds
                    example: 3600
                  refresh_token:
                    type: string
                    description: Refresh token for obtaining new access tokens
                  scope:
                    type: string
                    example: read write
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: Bearer
                expires_in: 3600
                refresh_token: dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4...
                scope: read write
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /auth/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Obtain a new access token using a refresh token.
      tags:
      - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Valid refresh token
            example:
              refresh_token: dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4...
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - access_token
                - token_type
                - expires_in
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 3600
                  refresh_token:
                    type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /auth/revoke:
    post:
      operationId: revokeToken
      summary: Revoke token
      description: Revoke an access or refresh token.
      tags:
      - Auth
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: Token to revoke
                token_type_hint:
                  type: string
                  enum:
                  - access_token
                  - refresh_token
                  description: Hint about the token type
      responses:
        '200':
          description: Token revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: Retrieve a paginated list of campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Example Item
                  status: active
                  created_at: '2024-01-15T10:30:00Z'
                  updated_at: '2024-01-15T10:30:00Z'
                meta:
                  page: 1
                  limit: 20
                  total: 100
                  total_pages: 5
                  has_next: true
                  has_prev: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      operationId: createCampaigns
      summary: Create campaigns
      description: Create a new campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name of the resource
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Description of the resource
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                  default: draft
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
            example:
              name: New Item
              description: A new item description
              status: draft
              metadata:
                key: value
      responses:
        '201':
          description: Campaigns created successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: New Item
                description: A new item description
                status: draft
                metadata:
                  key: value
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONFLICT
                  message: Resource already exists
                  details: null
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          $ref: '#/components/responses/RateLimitError'
  /campaigns/{id}:
    get:
      operationId: getCampaigns
      summary: Get campaigns by ID
      description: Retrieve a specific campaigns by its unique identifier.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Campaigns found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateCampaigns
      summary: Update campaigns
      description: Update an existing campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Campaigns updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      operationId: deleteCampaigns
      summary: Delete campaigns
      description: Delete a campaigns by its unique identifier.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      - name: force
        in: query
        description: Force delete even if resource has dependencies
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Campaigns deleted successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /campaigns/{id}/pause:
    post:
      operationId: pauseCampaigns
      summary: Pause campaigns
      description: Perform pause action on a campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Pause action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /campaigns/{id}/resume:
    post:
      operationId: resumeCampaigns
      summary: Resume campaigns
      description: Perform resume action on a campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Resume action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /campaigns/{id}/duplicate:
    post:
      operationId: duplicateCampaigns
      summary: Duplicate campaigns
      description: Perform duplicate action on a campaigns.
      tags:
      - Campaigns
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Duplicate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /strategies:
    get:
      operationId: listStrategies
      summary: List strategies
      description: Retrieve a paginated list of strategies.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of strategies
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Example Item
                  status: active
                  created_at: '2024-01-15T10:30:00Z'
                  updated_at: '2024-01-15T10:30:00Z'
                meta:
                  page: 1
                  limit: 20
                  total: 100
                  total_pages: 5
                  has_next: true
                  has_prev: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      operationId: createStrategies
      summary: Create strategies
      description: Create a new strategies.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name of the resource
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Description of the resource
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                  default: draft
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
            example:
              name: New Item
              description: A new item description
              status: draft
              metadata:
                key: value
      responses:
        '201':
          description: Strategies created successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: New Item
                description: A new item description
                status: draft
                metadata:
                  key: value
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONFLICT
                  message: Resource already exists
                  details: null
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          $ref: '#/components/responses/RateLimitError'
  /strategies/{id}:
    get:
      operationId: getStrategies
      summary: Get strategies by ID
      description: Retrieve a specific strategies by its unique identifier.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Strategies found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateStrategies
      summary: Update strategies
      description: Update an existing strategies.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Strategies updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      operationId: deleteStrategies
      summary: Delete strategies
      description: Delete a strategies by its unique identifier.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      - name: force
        in: query
        description: Force delete even if resource has dependencies
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Strategies deleted successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /strategies/{id}/activate:
    post:
      operationId: activateStrategies
      summary: Activate strategies
      description: Perform activate action on a strategies.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Activate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /strategies/{id}/deactivate:
    post:
      operationId: deactivateStrategies
      summary: Deactivate strategies
      description: Perform deactivate action on a strategies.
      tags:
      - Strategies
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Deactivate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /budgets: {}
  /budgets/{id}:
    get:
      operationId: getBudgets
      summary: Get budgets by ID
      description: Retrieve a specific budgets by its unique identifier.
      tags:
      - Budgets
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Budgets found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateBudgets
      summary: Update budgets
      description: Update an existing budgets.
      tags:
      - Budgets
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Budgets updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /budgets/{id}/allocate:
    post:
      operationId: allocateBudgets
      summary: Allocate budgets
      description: Perform allocate action on a budgets.
      tags:
      - Budgets
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Allocate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /budgets/{id}/reallocate:
    post:
      operationId: reallocateBudgets
      summary: Reallocate budgets
      description: Perform reallocate action on a budgets.
      tags:
      - Budgets
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Reallocate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /audiences:
    get:
      operationId: listAudiences
      summary: List audiences
      description: Retrieve a paginated list of audiences.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of audiences
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Example Item
                  status: active
                  created_at: '2024-01-15T10:30:00Z'
                  updated_at: '2024-01-15T10:30:00Z'
                meta:
                  page: 1
                  limit: 20
                  total: 100
                  total_pages: 5
                  has_next: true
                  has_prev: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      operationId: createAudiences
      summary: Create audiences
      description: Create a new audiences.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name of the resource
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Description of the resource
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                  default: draft
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
            example:
              name: New Item
              description: A new item description
              status: draft
              metadata:
                key: value
      responses:
        '201':
          description: Audiences created successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: New Item
                description: A new item description
                status: draft
                metadata:
                  key: value
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONFLICT
                  message: Resource already exists
                  details: null
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          $ref: '#/components/responses/RateLimitError'
  /audiences/{id}:
    get:
      operationId: getAudiences
      summary: Get audiences by ID
      description: Retrieve a specific audiences by its unique identifier.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Audiences found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateAudiences
      summary: Update audiences
      description: Update an existing audiences.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Audiences updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      operationId: deleteAudiences
      summary: Delete audiences
      description: Delete a audiences by its unique identifier.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      - name: force
        in: query
        description: Force delete even if resource has dependencies
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Audiences deleted successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /audiences/{id}/expand:
    post:
      operationId: expandAudiences
      summary: Expand audiences
      description: Perform expand action on a audiences.
      tags:
      - Audiences
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Expand action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /creatives:
    get:
      operationId: listCreatives
      summary: List creatives
      description: Retrieve a paginated list of creatives.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of creatives
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Example Item
                  status: active
                  created_at: '2024-01-15T10:30:00Z'
                  updated_at: '2024-01-15T10:30:00Z'
                meta:
                  page: 1
                  limit: 20
                  total: 100
                  total_pages: 5
                  has_next: true
                  has_prev: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      operationId: createCreatives
      summary: Create creatives
      description: Create a new creatives.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name of the resource
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Description of the resource
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                  default: draft
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
            example:
              name: New Item
              description: A new item description
              status: draft
              metadata:
                key: value
      responses:
        '201':
          description: Creatives created successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: New Item
                description: A new item description
                status: draft
                metadata:
                  key: value
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONFLICT
                  message: Resource already exists
                  details: null
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          $ref: '#/components/responses/RateLimitError'
  /creatives/{id}:
    get:
      operationId: getCreatives
      summary: Get creatives by ID
      description: Retrieve a specific creatives by its unique identifier.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateCreatives
      summary: Update creatives
      description: Update an existing creatives.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Creatives updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      operationId: deleteCreatives
      summary: Delete creatives
      description: Delete a creatives by its unique identifier.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      - name: force
        in: query
        description: Force delete even if resource has dependencies
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Creatives deleted successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /creatives/{id}/generate:
    post:
      operationId: generateCreatives
      summary: Generate creatives
      description: Perform generate action on a creatives.
      tags:
      - Creatives
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Generate action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /bidding: {}
  /bidding/{id}:
    get:
      operationId: getBidding
      summary: Get bidding by ID
      description: Retrieve a specific bidding by its unique identifier.
      tags:
      - Bidding
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Bidding found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateBidding
      summary: Update bidding
      description: Update an existing bidding.
      tags:
      - Bidding
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Bidding updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /bidding/{id}/optimize:
    post:
      operationId: optimizeBidding
      summary: Optimize bidding
      description: Perform optimize action on a bidding.
      tags:
      - Bidding
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Optimize action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /bidding/{id}/history:
    post:
      operationId: historyBidding
      summary: History bidding
      description: Perform history action on a bidding.
      tags:
      - Bidding
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: History action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /ab-tests:
    get:
      operationId: listAbTests
      summary: List ab tests
      description: Retrieve a paginated list of ab tests.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: List of ab tests
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Example Item
                  status: active
                  created_at: '2024-01-15T10:30:00Z'
                  updated_at: '2024-01-15T10:30:00Z'
                meta:
                  page: 1
                  limit: 20
                  total: 100
                  total_pages: 5
                  has_next: true
                  has_prev: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      operationId: createAbTests
      summary: Create ab tests
      description: Create a new ab tests.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name of the resource
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: Description of the resource
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                  default: draft
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
            example:
              name: New Item
              description: A new item description
              status: draft
              metadata:
                key: value
      responses:
        '201':
          description: Ab Tests created successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: New Item
                description: A new item description
                status: draft
                metadata:
                  key: value
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: CONFLICT
                  message: Resource already exists
                  details: null
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          $ref: '#/components/responses/RateLimitError'
  /ab-tests/{id}:
    get:
      operationId: getAbTests
      summary: Get ab tests by ID
      description: Retrieve a specific ab tests by its unique identifier.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Ab Tests found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    patch:
      operationId: updateAbTests
      summary: Update ab tests
      description: Update an existing ab tests.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                  - draft
                  - archived
                metadata:
                  type: object
                  additionalProperties: true
            example:
              name: Updated Item
              description: Updated description
              status: active
      responses:
        '200':
          description: Ab Tests updated successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Updated Item
                description: Updated description
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T11:00:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      operationId: deleteAbTests
      summary: Delete ab tests
      description: Delete a ab tests by its unique identifier.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      - name: force
        in: query
        description: Force delete even if resource has dependencies
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Ab Tests deleted successfully
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /ab-tests/{id}/results:
    post:
      operationId: resultsAbTests
      summary: Results ab tests
      description: Perform results action on a ab tests.
      tags:
      - Ab Tests
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Results action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /performance: {}
  /performance/{id}:
    get:
      operationId: getPerformance
      summary: Get performance by ID
      description: Retrieve a specific performance by its unique identifier.
      tags:
      - Performance
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Performance found
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                name: Example Item
                status: active
                created_at: '2024-01-15T10:30:00Z'
                updated_at: '2024-01-15T10:30:00Z'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /performance/{id}/summary:
    post:
      operationId: summaryPerformance
      summary: Summary performance
      description: Perform summary action on a performance.
      tags:
      - Performance
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Summary action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /performance/{id}/trends:
    post:
      operationId: trendsPerformance
      summary: Trends performance
      description: Perform trends action on a performance.
      tags:
      - Performance
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Trends action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
  /performance/{id}/export:
    post:
      operationId: exportPerformance
      summary: Export performance
      description: Perform export action on a performance.
      tags:
      - Performance
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the action
                metadata:
                  type: object
                  description: Additional metadata
                  additionalProperties: true
      responses:
        '200':
          description: Action completed successfully
          content:
            application/json:
              schema:
                type: object
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                status: success
                message: Export action completed
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication. Obtain a token from /auth/token endpoint.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication for service-to-service communication.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.grc-claw.com/oauth/authorize
          tokenUrl: https://auth.grc-claw.com/oauth/token
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              example: NOT_FOUND
            message:
              type: string
              example: Resource not found
            details:
              type: object
              nullable: true
              example: null
            request_id:
              type: string
              format: uuid
              example: 550e8400-e29b-41d4-a716-446655440000
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 100
        total_pages:
          type: integer
          example: 5
        has_next:
          type: boolean
          example: true
        has_prev:
          type: boolean
          example: false
    HealthStatus:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
        timestamp:
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
        version:
          type: string
          example: 1.0.0
        uptime:
          type: string
          example: 72h 15m 30s
        services:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum:
                - up
                - down
                - degraded
              latency_ms:
                type: number
                example: 45.2
  parameters:
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
      example: 1
    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      required: false
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      example: 20
    SortParam:
      name: sort
      in: query
      description: Sort field
      required: false
      schema:
        type: string
        enum:
        - created_at
        - updated_at
        - name
        - score
        - status
      example: created_at
    OrderParam:
      name: order
      in: query
      description: Sort order
      required: false
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
      example: desc
    IdParam:
      name: id
      in: path
      description: Resource identifier
      required: true
      schema:
        type: string
        format: uuid
      example: 550e8400-e29b-41d4-a716-446655440000
  responses:
    UnauthorizedError:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Authentication required
              details: null
              request_id: 550e8400-e29b-41d4-a716-446655440000
    ForbiddenError:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: FORBIDDEN
              message: Insufficient permissions
              details: null
              request_id: 550e8400-e29b-41d4-a716-446655440000
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: NOT_FOUND
              message: Resource not found
              details: null
              request_id: 550e8400-e29b-41d4-a716-446655440000
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: VALIDATION_ERROR
              message: Request validation failed
              details:
                field: name
                reason: required field missing
              request_id: 550e8400-e29b-41d4-a716-446655440000
    RateLimitError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Rate limit exceeded. Try again later.
              details:
                retry_after: 60
              request_id: 550e8400-e29b-41d4-a716-446655440000
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INTERNAL_ERROR
              message: An internal error occurred
              details: null
              request_id: 550e8400-e29b-41d4-a716-446655440000
security:
- BearerAuth: []
externalDocs:
  description: Find more info here
  url: https://docs.grc-claw.com
