openapi: 3.1.0
info:
  title: Compliance Monitor API
  version: 1.0.0
  description: Monitor and ensure compliance with regulations, policies, and standards.
servers:
  - url: https://api.grcclaw.com/v1
tags:
  - name: Compliance Monitoring
    description: Monitor compliance
paths:
  /compliance/policies:
    post:
      tags: [Compliance Monitoring]
      summary: Create compliance policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePolicy'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompliancePolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Compliance Monitoring]
      summary: List compliance policies
      operationId: listPolicies
      parameters:
        - name: regulation
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, draft]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompliancePolicy'
  /compliance/policies/{policyId}:
    get:
      tags: [Compliance Monitoring]
      summary: Get policy by ID
      operationId: getPolicy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompliancePolicy'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Compliance Monitoring]
      summary: Update policy
      operationId: updatePolicy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePolicy'
      responses:
        '200':
          description: Updated policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompliancePolicy'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Compliance Monitoring]
      summary: Delete policy
      operationId: deletePolicy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Policy deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /compliance/checks:
    post:
      tags: [Compliance Monitoring]
      summary: Run compliance check
      description: Run a compliance check against a policy.
      operationId: runCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_id, target]
              properties:
                policy_id:
                  type: string
                target:
                  type: string
                target_type:
                  type: string
                  enum: [user, content, organization, system]
                context:
                  type: object
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceCheckResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags: [Compliance Monitoring]
      summary: List compliance checks
      operationId: listChecks
      parameters:
        - name: policy_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pass, fail, warning, pending]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceCheckResult'
  /compliance/checks/{checkId}:
    get:
      tags: [Compliance Monitoring]
      summary: Get check by ID
      operationId: getCheck
      parameters:
        - name: checkId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Check details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceCheckResult'
        '404':
          $ref: '#/components/responses/NotFound'
  /compliance/violations:
    post:
      tags: [Compliance Monitoring]
      summary: Report violation
      operationId: reportViolation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceViolation'
      responses:
        '201':
          description: Violation reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceViolation'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Compliance Monitoring]
      summary: List violations
      operationId: listViolations
      parameters:
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: status
          in: query
          schema:
            type: string
            enum: [open, investigating, resolved, dismissed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Violations
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceViolation'
  /compliance/violations/{violationId}:
    get:
      tags: [Compliance Monitoring]
      summary: Get violation by ID
      operationId: getViolation
      parameters:
        - name: violationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Violation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceViolation'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Compliance Monitoring]
      summary: Update violation
      operationId: updateViolation
      parameters:
        - name: violationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceViolation'
      responses:
        '200':
          description: Updated violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceViolation'
        '404':
          $ref: '#/components/responses/NotFound'
  /compliance/violations/{violationId}/resolve:
    post:
      tags: [Compliance Monitoring]
      summary: Resolve violation
      operationId: resolveViolation
      parameters:
        - name: violationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                notes:
                  type: string
                evidence_urls:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Violation resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceViolation'
        '404':
          $ref: '#/components/responses/NotFound'
  /compliance/reports:
    post:
      tags: [Compliance Monitoring]
      summary: Generate compliance report
      operationId: generateReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start_date, end_date]
              properties:
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                policies:
                  type: array
                  items:
                    type: string
                format:
                  type: string
                  enum: [json, pdf, csv]
                  default: json
      responses:
        '200':
          description: Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceReport'
        '400':
          $ref: '#/components/responses/BadRequest'
  /compliance/audit:
    get:
      tags: [Compliance Monitoring]
      summary: Get compliance audit log
      operationId: getAuditLog
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Audit log
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
  /compliance/regulations:
    get:
      tags: [Compliance Monitoring]
      summary: Get supported regulations
      operationId: getRegulations
      responses:
        '200':
          description: Regulations
          content:
            application/json:
              schema:
                type: object
                properties:
                  regulations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Regulation'
  /compliance/analytics:
    get:
      tags: [Compliance Monitoring]
      summary: Get compliance analytics
      operationId: getAnalytics
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceAnalytics'
  /compliance/reminders:
    post:
      tags: [Compliance Monitoring]
      summary: Create compliance reminder
      operationId: createReminder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceReminder'
      responses:
        '201':
          description: Reminder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceReminder'
    get:
      tags: [Compliance Monitoring]
      summary: List compliance reminders
      operationId: listReminders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, sent, acknowledged, overdue]
      responses:
        '200':
          description: Reminders
          content:
            application/json:
              schema:
                type: object
                properties:
                  reminders:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComplianceReminder'
  /compliance/reminders/{reminderId}:
    delete:
      tags: [Compliance Monitoring]
      summary: Delete reminder
      operationId: deleteReminder
      parameters:
        - name: reminderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Reminder deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /compliance/certifications:
    post:
      tags: [Compliance Monitoring]
      summary: Create certification
      operationId: createCertification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certification'
      responses:
        '201':
          description: Certification created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
    get:
      tags: [Compliance Monitoring]
      summary: List certifications
      operationId: listCertifications
      parameters:
        - name: entity_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, expired, revoked, pending]
      responses:
        '200':
          description: Certifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  certifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Certification'
  /compliance/certifications/{certId}:
    get:
      tags: [Compliance Monitoring]
      summary: Get certification by ID
      operationId: getCertification
      parameters:
        - name: certId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Certification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Compliance Monitoring]
      summary: Update certification
      operationId: updateCertification
      parameters:
        - name: certId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certification'
      responses:
        '200':
          description: Updated certification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Compliance Monitoring]
      summary: Revoke certification
      operationId: revokeCertification
      parameters:
        - name: certId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Certification revoked
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CompliancePolicy:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        regulation:
          type: string
        rules:
          type: array
          items:
            type: object
            properties:
              condition:
                type: string
              action:
                type: string
              severity:
                type: string
        status:
          type: string
          enum: [active, inactive, draft]
        created_at:
          type: string
          format: date-time
    ComplianceCheckResult:
      type: object
      properties:
        id:
          type: string
        policy_id:
          type: string
        target:
          type: string
        status:
          type: string
          enum: [pass, fail, warning, pending]
        score:
          type: number
        findings:
          type: array
          items:
            type: object
            properties:
              rule:
                type: string
                status:
                  type: string
                message:
                  type: string
                severity:
                  type: string
        checked_at:
          type: string
          format: date-time
    ComplianceViolation:
      type: object
      properties:
        id:
          type: string
        policy_id:
          type: string
        target:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        status:
          type: string
          enum: [open, investigating, resolved, dismissed]
        evidence:
          type: array
          items:
            type: string
        reported_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
    ComplianceReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        summary:
          type: object
        policies:
          type: array
          items:
            type: object
        violations:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceViolation'
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
        user_id:
          type: string
        details:
          type: object
        timestamp:
          type: string
          format: date-time
    Regulation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        jurisdiction:
          type: string
        effective_date:
          type: string
          format: date
        requirements:
          type: array
          items:
            type: string
    ComplianceAnalytics:
      type: object
      properties:
        total_policies:
          type: integer
        active_policies:
          type: integer
        total_checks:
          type: integer
        pass_rate:
          type: number
        total_violations:
          type: integer
        open_violations:
          type: integer
        by_severity:
          type: object
          additionalProperties:
            type: integer
    ComplianceReminder:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date
        status:
          type: string
          enum: [pending, sent, acknowledged, overdue]
        assignee_id:
          type: string
        created_at:
          type: string
          format: date-time
    Certification:
      type: object
      properties:
        id:
          type: string
        entity_id:
          type: string
        entity_type:
          type: string
        standard:
          type: string
        status:
          type: string
          enum: [active, expired, revoked, pending]
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        evidence_url:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
