.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.log
logs/
.env
k8s/secret.yaml
tests/
README.md
